{% extends "network/layout.html" %}

{% block body %}
<script>
  function submithandler(id){
    console.log(id)
  }
</script>
    <div>
      <h1>All post</h1>
        {% for post in page_obj %}
        <div>
        <a href="{% url 'profile' user_id=post.user.pk %}">{{post.user}}</a>
        <p>{{post.content}}</p>
        {% if user.is_authenticated %}
          {% if user == post.user %}
          
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#model{{post.pk}}">
            Edit
          </button>
          <!-- Modal -->
          <div class="modal fade" id="#model{{post.pk}}" tabindex="-1" role="dialog" aria-labelledby="#model{{post.pk}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <textarea name="content" id="textarea_{{ post.pk }}" cols="30" rows="8">{{ post.content }}</textarea>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                  <button onclick="submithandler({{post.id}})" type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endif%}
      </div>
        {% endfor%}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% endif %}
               
              <li class="page-item disabled">
                <a class="page-link" href="#">{{ page_obj.number }}</a>
              </li>
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              {% endif%}
            </ul>
          </nav>
    </div>
{% endblock %}