{% extends "network/layout.html" %}

{% block body %}
    <div>
        <h1>{{ username }}</h1>
        <div class="container">
        <div class="row d-flex justify-content-center">
        <h3 class="col-4">Followers: { followers.count </h3>
        <h3 class="col-4">Following: {{ following.count })</h3

        {% if user.is_authenticated %}
        {% if user != user_profile %}
        {%if isFollowing %}
        <form action= "{% url 'unfollow'%}" method="post">
        {% csrf_token %} 
         <input type="hidden" name="userfollow" value="{{user_profile}}">
        <input type="submit" value="Unfollow" >
        </form>
        {% else %}
        <form action ="{% url 'follow'%}" method="post">
          {% csrf_token %}
          <input type="hidden" name="userfollow" value="{{ user_profile}}"
          <input type="submit" value="follow" >
          </form>
       {% endif %}
       {% endif %}
       {% endif %}
        </div>
      </div>
        {% for post in page_obj %}
        <p>{{post.user}}</p>
        <p>{{post.content}}</p>
        {% endfor%}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% endif %}
               
              <li class="page-item disabled">
                <a class="page-link" href="#">{{ page_obj.number }}</a>
              </li>
              {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              {% endif%}
            </ul>
          </nav>
    </div>
{% endblock %}